#page {
    max-width: 1024px;
}

body.custom-background {
    background-image: url("\/public\/mon-cahier\/images\/grid.png");
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
}

a {
    text-decoration: none;
}

div.entry-content a,
div.page a {
    text-decoration: underline;
}

div.entry-content img,
div.page img {
    max-width: 100%;
}

p {
    margin-bottom: 0.5em;
}

div.highlighter-rouge {
    margin: 5px 0;
}

code.highlighter-rouge {
    padding: 1px 8px;
    color: #d01040;
    background: #f9f2f4;
    border: 1px groove #ffbece;
}

.page-navigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.page-navigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.page-navigation .prev {
    text-align: left;
    float: left;
}

.page-navigation .next {
    text-align: right;
    float: right;
}

blockquote {
    text-align: justify;
}

.technical blockquote {
    margin: 0 1.5em;
    font-family: "Monospace", "Consolas", "Bodohi", "Times New Roman";
    font-size: 2rem;
    line-height: 1.5;
}
